VITE_SUPABASE_URL=https://iahaxqylkguiubgxbvfr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhaGF4cXlsa2d1aXViZ3hidmZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNjUzNDksImV4cCI6MjA4OTc0MTM0OX0.bKIcI1OiAOtYhLe-8_WReXbm09hC3NR5s5avNmDIFw0